/* *{
	box-sizing: border-box;
} */

section {
  min-height: 95vh;
  width: 100vw;
}
.loader-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40vh;
}
.hamburger {
  font-size: 2.5rem;
  margin-right: 20px;
  cursor: pointer;
}
.hamburger:hover {
  color: white;
}
.my-navbar {
  height: 10vh;
  background-color: #6ebe3b;
  color: black;
  font-weight: bolder;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 100;
}
.brand {
  font-size: 1.5rem;
}
.top-spacing {
  height: 5vh;
  width: 100vw;
}
.side-bar {
  min-width: 100vw;
  min-height: 100%;
  position: absolute;
  top: 10vh;
  z-index: 10;
  overflow: hidden;
}
.side-bar-content {
  overflow: scroll;
  width: 15vw;
  height: 100vh;
  background-color: #6ebe3b;
  display: inline-block;
  padding-bottom: 100vh;
}
.side-bar-content::-webkit-scrollbar {
  display: none;
}
.side-bar-extra {
  margin-left: 30%;
  width: 85vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.582);
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6ebe3b;
  text-shadow: 0px 0px 10px white;
}
.search-bar-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10vh;
}
.search-bar-container .input {
  width: 65vw;
  margin-right: 10px;
  padding-left: 10px;
  height: 35px;
  border: 1px solid black;
  border-radius: 35px;
}
.search-bar-container .input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 10px #6ebe3b;
}
.search-bar-container button {
  border: none;
  outline: none;
  padding: 5px 5px;
  background: #6ebe3b;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.search-bar-container button:hover {
  border: 1px solid #6ebe3b;
  background: black;
  color: white;
}
.search-bar-container button i {
  margin-right: 5px;
}
@media only screen and (max-width: 768px) {
  .side-bar-content {
    width: 30%;
  }
  .side-bar-extra {
    width: 70%;
  }
}
@media only screen and (max-width: 1440px) {
  .side-bar-content {
    width: 25%;
  }
  .side-bar-extra {
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .hamburger {
    font-size: 2rem;
  }
  .search-bar-container {
    margin-top: 12vh;
  }
  .brand {
    margin-right: auto;
    font-size: 1rem;
  }
  .side-bar-content {
    width: 50%;
  }
  .side-bar-extra {
    width: 50%;
  }
  .search-bar-container .input {
    width: 90vw;
  }
  .search-bar-container .input::placeholder {
    font-size: 12px;
  }
  .search-bar-container button {
    margin: auto;
    width: 90vw;
    margin-top: 10px;
  }
}
