/* *{
	box-sizing: border-box;
} */

section {
  min-height: 95vh;
  width: 100%;
}
.loader-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40vh;
}
.hamburger {
  font-size: 2.5rem;
  margin-right: 10px;
  cursor: pointer;
}
.hamburger:hover {
  color: white;
}
.my-navbar {
  height: 10vh;
  background-color: #6ebe3b;
  color: black;
  font-weight: bold;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 100;
}
.brand {
  font-size: 1.5rem;
}
.top-spacing {
  height: 5vh;
  width: 100vw;
}
.side-bar {
  min-width: 100vw;
  min-height: 100%;
  position: absolute;
  top: 10vh;
  z-index: 10;
  overflow: hidden;
}
.side-bar-content {
  width: 15vw;
  height: 100vh;
  background-color: #6ebe3b;
  display: inline-block;
  padding-bottom: 20px;
}
.side-bar-content::-webkit-scrollbar {
  display: none;
}
.side-bar-extra {
  margin-left: 30%;
  width: 85vw;
  height: 100vh;
  background-color: #6ebe3b;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 217, 0);
  text-shadow: 0px 0px 10px white;
}
@media only screen and (max-width: 768px) {
  .side-bar-content {
    width: 30%;
  }
  .side-bar-extra {
    width: 70%;
  }
}
@media only screen and (max-width: 1440px) {
  .side-bar-content {
    width: 25%;
  }
  .side-bar-extra {
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .hamburger {
    font-size: 2rem;
  }
  .brand {
    margin-right: auto;
    font-size: 1rem;
  }
  .side-bar-content {
    width: 50%;
  }
  .side-bar-extra {
    width: 50%;
  }
}


