* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  padding: 0px;
  margin: 0px;
  transition: all 0.5 ease-in-out;
}

body {
  width: calc(100vw);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
}
