.App {
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 100vw;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
a {
  text-decoration: none;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: bisque;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.brand {
  font-size: 1rem;
}

.links-div {
  padding: 10px;
}
.links-div > a {
  margin: 5px;
  display: inline-block;
}

.links-div > .active {
  border-bottom: 2px solid black;
}

section {
  width: 100vw;
  padding: 20px;
  max-height: 90vh;
}

.home-page {
  min-height: 90vh;
  max-height: 90vh;
}

.product-container {
  width: 100%;
  max-height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  z-index: -10;
}

.product-card {
  width: 350px;
  margin: 10px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: -4;
}

.category-div {
  margin: auto;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 5;
}

.category-div .options {
  padding: 20px;
  height: 40px;
  background-color: bisque;
  opacity: 1;
  color: black;
  z-index: 10;
  font-weight: bold;
}

.indi-card {
  width: 100vw;
  padding: 40px;
  padding-left: 200px;
}
.indi-card * {
  margin-bottom: 10px;
  margin-left: 10px;
}
.indi-card .options {
  display: block;
  background-color: grey;
  color: white;
  margin: 10px;
  padding: 5px;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 40px;
  border: 1px solid grey;
}

.cart-item * {
  margin: 10px;
}

.cart-item img {
  width: 40px;
  height: 40px;
}

.cart-item button {
  height: 30px;
  padding: 10px;
}

.home-page button {
  width: 80px;
  height: 40px;
  margin-left: 25%;
}

button {
  background-color: rgb(49, 49, 199);
  outline: none;
  border: none;
  color: white;
}
